<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %> - HyperHaxZ</title>
  <% if (typeof csrfToken !== "undefined") { %>
    <meta name="session-identifier" content="<%= csrfToken  %>">
  <% } %>
  <%-stylesheets%>
  <link rel="stylesheet" href="/public/styles/dashboard.css">
  <%-scripts%>
  <script src="/public/scripts/vendors/alpine.min.js"></script>
  <script src="/public/scripts/sidebar.js"></script>
  <script src="/public/scripts/menu.js"></script>
</head>
<body>
<section class="flex select-none" id="main">
  <%- includepartials/sidebar %>
  <main class="bg-gray-900 w-full">
    <%- includepartials/header %>
    <%-body -%>
    <%- includepartials/footer %>
  </main>
</section>
</body>
</html>
