<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %> - HyperHaxZ</title>
  <% if (typeof csrfToken !== 'undefined') { %>
    <meta name="session-identifier" content="<%= csrfToken  %>">
  <% } %>
  <%-stylesheets%>
  <link rel="stylesheet" href="/public/styles/dashboard.css">
  <script src="/public/scripts/vendors/alpine.min.js"></script>
  <script src="/public/scripts/dashboard.js"></script>
  <%-scripts%>
</head>
<body class="bg-gray-900">
  <%- include../partials/header %>
  <%- includepartials/sidebar %>
  <div class="mb-8"><%- body %></div>
</body>
<script>
  const width = screen.availWidth
  if (width < 768) document.getElementById('sidebar').remove()
</script>
</html>
