<% layout('./layout') -%>
<% stylesheet('/public/styles/vendors/izi.min.css') -%>
<% script('/public/scripts/vendors/alpine.min.js') -%>
<% script('/public/scripts/vendors/axios.min.js') -%>
<% script('/public/scripts/vendors/izi.min.js') -%>
<% script('/public/scripts/helpers.js') -%>
<% script('/public/scripts/users.js') -%>

<div class="flex flex-col mt-4">
    <div class="mx-8 p-2 align-middle inline-block">
        <div class="flex justify-end sm:rounded-lg">
            <% includepartials/search %>
            <% includepartials/sort %>
            <% includepartials/purge %>
        </div>
        <div class="mt-4 overflow-hidden sm:rounded-lg">
            <table class="table-auto shadow-md w-full divide-y divide-gray-700">
                <thead class="bg-gray-800">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                        Username
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                        Invited on
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                        Role
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                        Status
                    </th>
                    <% if (user.role === 'support' || user.role === 'admin') { %>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                            Actions
                        </th>
                    <% } %>
                </tr>
                </thead>
                <tbody class="bg-gray-850 divide-y divide-gray-700">
                <% if (!!count) {
                    getClassByRole = function(role) {
                        switch (role) {
                        case 'user':
                            return 'bg-gray-200 text-gray-800'
                        case 'support':
                            return 'bg-yellow-100 text-yellow-800'
                        case 'admin':
                            return 'bg-blue-200 text-blue-800'
                        default:
                            return ''
                        }
                    } %>
                    <script>window.isXHRinProgress = false</script>
                    <% users.forEach((each, index) => { %>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                <%= index+1+cursor.skip %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-500">
                                    <%= each.username %>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                <%= new Date(each.createdAt).toDateString() %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="<%= getClassByRole(each.role) %> px-2 mr-2 inline-flex text-xs leading-5 font-semibold rounded-full">
                                    <%= each.role %>
                                </span>
                                <% if (each.isSeller) { %>
                                    <span class="bg-green-200 text-green-800 px-2 mr-2 inline-flex text-xs leading-5 font-semibold rounded-full">seller</span>
                                <% } %>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                              <span class="<%= each.status === 'active' ? 'bg-green-200 text-green-800' : 'bg-red-200 text-red-800' %> px-2 inline-flex text-xs leading-5 font-semibold rounded-full">
                                <%= each.status %>
                              </span>
                            </td>
                            <% if (user.role === 'support' || user.role === 'admin') { %>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <button @click="action('resetHWID', '<%= each._id %>')" id="resetHWID-<%= each._id %>" class="focus:outline-none align-middle mr-1" x-data="{tooltip: false, get isDisabled() { return <%= each.status !== 'active' ? true : `isXHRinProgress || ${!each.hardwareID}` %> }}" :disabled="isDisabled">
                                        <div class="relative" v-cloak x-show.transition.origin.top="tooltip">
                                            <div class="absolute top-0 z-10 py-2 px-4 -mt-1 text-sm text-gray-400 transform -translate-x-1/2 -translate-y-full bg-gray-900 rounded-lg shadow-lg">
                                                <%= each.status === 'banned' ? 'User is banned' : !!each.hardwareID ? 'Reset HardwareId' : 'HardwareId not set' %>
                                            </div>
                                        </div>
                                        <div x-on:mouseover="tooltip = true" x-on:mouseleave="tooltip = false" :class="isDisabled && 'opacity-50 cursor-not-allowed'" class="text-blue-500 hover:text-blue-600 rounded-md py-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
                                            </svg>
                                        </div>
                                    </button>
                                    <% if (each.status === 'active') { %>
                                        <button @click="action('ban', '<%= each._id %>')" id="ban-<%= each._id %>" class="text-blue-500 hover:text-blue-600 focus:outline-none align-middle disabled mx-1" x-data="{tooltip: false}">
                                            <div class="relative" v-cloak x-show.transition.origin.top="tooltip">
                                                <span class="absolute top-0 z-10 py-2 px-4 -mt-1 text-sm text-gray-400 transform -translate-x-1/2 -translate-y-full bg-gray-900 rounded-lg shadow-lg">Ban User</span>
                                            </div>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6" x-on:mouseover="tooltip = true" x-on:mouseleave="tooltip = false">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                                            </svg>
                                        </button>
                                    <% } else { %>
                                        <button @click="action('unban', '<%= each._id %>')" id="unban-<%= each._id %>" class="text-blue-500 hover:text-blue-600 focus:outline-none align-middle disabled mx-1" x-data="{tooltip: false}">
                                            <div class="relative" v-cloak x-show.transition.origin.top="tooltip">
                                                <span class="absolute top-0 z-10 py-2 px-4 -mt-1 text-sm text-gray-400 transform -translate-x-1/2 -translate-y-full bg-gray-900 rounded-lg shadow-lg">Unban User</span>
                                            </div>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" x-on:mouseover="tooltip = true" x-on:mouseleave="tooltip = false">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                                            </svg>
                                        </button>
                                    <% } %>
                                    <button @click="action('seller', '<%= each._id %>', '<%= each.isSeller ? 'remove' : 'approve' %>')" id="seller-<%= each._id %>" class="focus:outline-none align-middle mx-1" x-data="{tooltip: false}">
                                        <div class="relative" v-cloak x-show.transition.origin.top="tooltip">
                                            <div class="absolute top-0 z-10 py-2 px-4 -mt-1 text-sm text-gray-400 transform -translate-x-1/2 -translate-y-full bg-gray-900 rounded-lg shadow-lg">
                                                <%= each.isSeller ? 'Remove Seller' : 'Make seller' %>
                                            </div>
                                        </div>
                                        <div x-on:mouseover="tooltip = true" x-on:mouseleave="tooltip = false" class="text-blue-500 hover:text-blue-600 rounded-md py-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            </svg>
                                        </div>
                                    </button>
                                    <% if (user.role === 'admin') { %>
                                        <button x-data="{ open: false, tooltip: false }" class="focus:outline-none align-middle mx-1">
                                            <div class="relative">
                                                <div v-cloak x-show.transition.origin.top="tooltip">
                                                    <div class="absolute top-0 z-10 py-2 px-4 -mt-1 text-sm text-gray-400 transform -translate-x-1/2 -translate-y-full bg-gray-900 rounded-lg shadow-lg">Change user role</div>
                                                </div>
                                                <div x-on:mouseover="tooltip = true" x-on:mouseleave="tooltip = false" class="text-blue-500 hover:text-blue-600 rounded-md py-2">
                                                    <svg @click.prevent="open = !open" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                                                    </svg>
                                                </div>
                                                <div
                                                        x-show="open"
                                                        @click.away="open = false"
                                                        x-transition:enter="transition ease-out duration-300"
                                                        x-transition:enter-start="opacity-0 transform scale-90"
                                                        x-transition:enter-end="opacity-100 transform scale-100"
                                                        x-transition:leave="transition ease-in duration-300"
                                                        x-transition:leave-start="opacity-100 transform scale-100"
                                                        x-transition:leave-end="opacity-0 transform scale-90"
                                                >
                                                    <div class="absolute text-gray-400 z-10 right-0 mt-2 w-44 rounded-md shadow-lg bg-gray-800 ring-1 ring-black ring-opacity-5 divide-y divide-gray-700 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                                                        <% switch (each.role) {
                                                        case 'user': %>
                                                        <div onclick="action('role', '<%= each._id %>', 'support')" id="role-<%= each._id %>" class="text-left w-full text-gray-400 block px-4 py-2 text-sm hover:bg-gray-900 focus:outline-none">promote to support</div>
                                                        <div onclick="action('role', '<%= each._id %>', 'admin')" id="role-<%= each._id %>" class="text-left w-full text-gray-400 block px-4 py-2 text-sm hover:bg-gray-900 focus:outline-none">promote to admin</div>
                                                        <% break
                                                        case 'support': %>
                                                        <div onclick="action('role', '<%= each._id %>', 'admin')" id="role-<%= each._id %>" class="text-left w-full text-gray-400 block px-4 py-2 text-sm hover:bg-gray-900 focus:outline-none">promote to admin</div>
                                                        <div onclick="action('role', '<%= each._id %>', 'user')" id="role-<%= each._id %>" class="text-left w-full text-gray-400 block px-4 py-2 text-sm hover:bg-gray-900 focus:outline-none">demote to user</div>
                                                        <% break
                                                        case 'admin': %>
                                                        <div onclick="action('role', '<%= each._id %>', 'support')" id="role-<%= each._id %>" class="text-left w-full text-gray-400 block px-4 py-2 text-sm hover:bg-gray-900 focus:outline-none">demote to support</div>
                                                        <div onclick="action('role', '<%= each._id %>', 'user')" id="role-<%= each._id %>" class="text-left w-full text-gray-400 block px-4 py-2 text-sm hover:bg-gray-900 focus:outline-none">demote to user</div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </button>
                                    <% } %>
                                </td>
                            <% } %>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr class="text-lg text-gray-500"><td colspan="10" class="text-center"><%= query.params.q ? 'No such user' : 'No users found' %> in the database.</td></tr>
                <% } %>
                </tbody>
            </table>
            <% includepartials/pagination %>
        </div>
    </div>
</div>
