<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %> - HyperHaxZ</title>
  <% if (typeof csrfToken !== "undefined") { %>
    <meta name="session-identifier" content="<%= csrfToken  %>">
  <% } %>
  <link rel="stylesheet" href="/public/styles/main.css">
  <%-scripts%>
</head>
<body>
<main class="flex flex-col min-h-screen bg-gray-900">
  <%- includeheader -%>
  <%-body -%>
  <%- includefooter -%>
</main>
</body>
</html>
